@model Autoveod.Models.Veod

@{
    ViewData["Title"] = "Telli";
}

<h1>Telli</h1>

<h4>Veod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Telli">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Algus" class="control-label"></label>
                <input asp-for="Algus" class="form-control" />
                <span asp-validation-for="Algus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ots" class="control-label"></label>
                <input asp-for="Ots" class="form-control" />
                <span asp-validation-for="Ots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aeg" class="control-label"></label>
                <input asp-for="Aeg" class="form-control" />
                <span asp-validation-for="Aeg" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
